.itemCreationCont {
    background-color: black;
    max-width: 70% !important;
    height: 100vh;  
    color: white;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-right: 0 !important;
}

.inputLabelSelect {
    color: white !important;
    text-align: center !important;

}

.select {
    color: white !important;
}